@font-face {
    font-family: 'IBM-3270';
    src: url(/assets/fonts/3270-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: IBM-3270;
}

html, body {
	background-color: rgb(102 108 104);
	margin: 0;
	padding: 0;
}

.nav ul {
	margin: 0;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: .0em;
	color: antiquewhite;
	text-decoration: none;
}

.main-nav {
	text-align: right;
	font-size: 1.25em;
	font-weight: normal;
	border-bottom: 2px;
}

.main-nav li {
	font-size: 25px;
	margin: 1em;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color:rgb(66, 87, 68);
	border-width: 5px;
	border-color: rgb(66, 87, 68);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.main-nav li:hover {
	margin: 1em;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgb(39, 98, 66);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.main-header {
	background-color: rgba(75, 75, 75, 255);
	background-size: cover;
}

.projects-grid {
	align-items: center;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	gap: 5px;
	padding: 5px;
}

.projects-grid div {
	align-items: center;
	align-content: center;
	text-align: center;
	padding: 10px;
	font-size: 30px;
}

.project-1 {
	grid-area: 1 / 1 / 1 / 1;
}

.project-2 {
	grid-area: 1 / 2 / 1 / 2;
}

.main-footer a {
	align-items: center;
	display: inline-block;
}